
/* 
    Created on : 07.08.2018, 14:36:16
    Author     : dimabresky
*/

.travelsoft_sqlparsertoolsdb, .travelsoft_sqlparsertoolsdb-20x20
{ display: inline-block; background: url('icons/travelsoft.sqlparsertools/travelsoft_sqlparsertools.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.travelsoft_sqlparsertoolsdb { background-position: -2px -0px; width: 246px; height: 246px; }
.travelsoft_sqlparsertoolsdb-20x20 { background-position: 6px -247px; width: 30px; height: 30px; }


